* {
    margin:0;
    padding: 0;
    ​box-sizing: border-box;
}
body {
    background-image: url("../resources/images/wp4535707.jpg");
    position:relative;
    top: 60px;
    color: white;

}
main {
    padding-bottom: 20px;
}
/* header *********************************************************************************************************************************************************/
.tab {
    background-color: #0f6d99;
    position: fixed;
    top: 0;
    width: 100%;
}
.tab ul li {
    display: inline-block;
    text-align:center;
    padding: 10px;
    font-size: 20px;
    font-family: "Anton", serif;
    text-transform:uppercase;
    letter-spacing: 2px;
}
.tab ul li a {
    text-decoration: none;
    color: white;
}
.listimg {
    height: 30px;
}

/* footer ***********************************************************************************************************************************************************/

.footer{
    position: fixed;
    bottom: 0;
    background:#0f6d99;
    width: 100%;
    text-align: right;
}

.rights{
    margin-right: 20px;
}


/* ABOUT ME MAIN ************************************************************************************************************************************************************/

.about_me {
    font-family:"Roboto", serif;
    background-color:#0f6d99;
    width: 80%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
}
.about_me ul{
    margin-left:20px;
}

.about_me h1 {
    font-family: "Roboto", serif;
    text-align: center;
}
.align {
    
    padding: 20px 20px;
    
}
.me {
    height: 30vw;
    margin-top: 60px;
}
.about_me ul{
    margin-top: 30px;
}
.about_me ul li {
    list-style-type: none;
}
