body {
    color: white;
    background:#0f6d99;
    margin: 0;
    padding: 0;
    background: url("../resources/images/wp4535707.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 930px) {
    body {
      background-image: url('https://wallpapercave.com/wp/wp5833268.png');
    }
  }

/* header */

header {

    opacity: 0.9;
    background-color: #0f6d99;
    position:fixed;
    top: 0;
    width: 100%;
    z-index:100;
    
}
body{
    position: relative;
    top: 68px;
}
a {
    text-decoration: none;
    color: #FFF;
}
a:hover, a:active{
    color: black;
}
.tab ul li{
    color: #FFF;
    font-family: "Anton",sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    display: inline;
    text-transform: uppercase;
    margin-right:30px;
}
/* images */

img.wallpaper {
    width: 100%;
}
.listimg {
    height: 30px;
}
/* footer */

footer {
    font-size: 10px;
    letter-spacing: 3px;
    opacity: 0.9;
    background-color: #0f6d99;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index:100;
}
li {
    list-style-type: none;
}
.name {
    text-align: right;
    margin-right:20px;
    
}

/* main section */
section {
    
    background:#0d7db1;
    position: absolute;
    right: 100px;
    left: 100px;
    top: 40px;
    
    
}
section .me{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: 100px;
    padding: 70px 0;
}

/* about me*/
.about_me {
    
    text-align: center;
    font-family: "Anton",sans-serif;
    font-weight:normal;
    letter-spacing: 10px;
  
}
.about_me:hover, .about_me:active{
    color: black;
}
.about_me_paragraph {
    position: absolute;
    top: 100px;
    left: 15px;
    right: 400px;
    font-family: "Anton", sans-serif;
    letter-spacing: 3px;
}
.about_me_paragraph li:hover, .about_me_paragraph li:active{
    color: black;
}
dfn {
    color: black;
}
dfn:hover, dfn:active {
    color: white;
}

/* mobile screen */

@media screen and (max-width:930px) 
{
    img.wallpaper {
        width: 100%;
        height: auto;
    }
    .listimg {
        height: 30px;
    }
    nav ul li{
        font-size: 25px;

    }
    body{
        position: static;
        margin-block-start: 0px;
        margin-block-end: 0;
    }
    header {

        opacity: 0.9;
        background-color: #0f6d99;
        position:static;
        width: 100%;
        text-align: center;      
    }
    .tab ul li{
        color: #FFF;
        font-family: "Anton",sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 300;
        display: block;
        text-transform: uppercase;
        margin-right:30px;
    
    }
 
    ul {
        margin:0;
    }
    section {
        margin-top: 40px;
        right: 50px;
        left: 50px;    
    }

   
   section .me {
        height: 250px;
   }
  
    .about_me_paragraph {
        font-size: 12px;
        
        position:relative;
        top: 50px;
        left: 5px;
        right: auto;
        font-family: "Anton", sans-serif;
        letter-spacing: 1px;
    }
}