* {
    margin: 0px;
    padding: 0px;
}
body {
    background:url("../resources/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;

    
}
hr {
    border-width: 2px;
}
/* header */
.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}
.header ul li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: inline-block;
    padding: 15px;
}
.header ul img{
    height: 15px;
    margin-bottom: 10px;
}
/* main */
main {
    position: relative;
    top: 80px;
}

/* main about */

.aboutme {
    background-color: hsla(220, 40%, 40%, 0.8);
}
.aboutme img {
    height: 40vw;
}
/* footer */

